@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_icon_menu{
    height: 9vh !important;
}

.header_explorar{
    width: 89vw;
    height: 8vh;
    display: flex;
    justify-content: end;
}

.container_pesquisa_alert{
    display: flex;
    width: 70vw;
    justify-content: space-between;
}

.container_pesquisa{
    display: flex;
    align-items: center;
}

.container_pesquisa input{
    width: 40vw;
    height: 3vh;
    border-radius: 5px;
    border-style: none;
    padding: 0 0.5vw;
}

.container_pesquisa img{
    height: 3.5vh;
    margin-right: 1vw;
    cursor: pointer;
}

.container_alert{
    margin-right: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    font-weight: 700;
}

.container_alert img{
    height: 3.5vh;
    margin-left: 0.5vw;
    cursor: pointer;
}

.container_alert p{
    margin: 0 !important;
}

.container_titulo_maquina{
    width: 77vw;
    display: flex;
    justify-content: space-between;
    margin-bottom: 4vh;
    margin-right: 0.4vw;
    padding: 0 0.5vw;
}

.container_titulo {
    width: 1.2em;
}

.container_titulo_maquina h2{
    width: 12vw;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.5vw;
    text-align: center;
}

.container_select{
    display: flex;
}

.container_select select{
    width: 15vw;
    height: 3.5vh;
    border-radius: 5px;
    border-style: none;
    background-color: #d9d9d9;
    padding: 0 0.5vw;
}



#select_tipo{
    margin-right: 2vw;
}

.container_main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
}

.container_main_list{
    width: 78vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.container_conteudo{
    width: 77vw;
    display: flex;
    justify-content: space-between;
    background-color: #d9d9d9;
    min-height: 6vh;
    align-items: center;
    border-radius: 10px;
    border-style: none;
    padding: 0 0.5vw;
    margin-bottom: 3vh;
}
  
  .container_conteudo .tooltiptext {
    visibility: hidden;
    margin-bottom: 1vh;
    width: 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    background-color: #0F1126;
    font-size: 1.5vh;
    color: #fff;
    border-radius: 6px;
    padding: 5px 2px;
    text-align: center;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
  }

  .container_conteudo .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
  
  .container_conteudo:hover .tooltiptext {
    visibility: visible;
  }

.container_conteudo:nth-last-child(1){
    margin: 0;
}

.container_conteudo p{
    font-family: 'Roboto', sans-serif;
    font-size: 0.85vw;
    width: 12vw;
    text-align: center;
    
}

.button_detalhe{
    width: 5.5vw !important;
    margin: 0 1vw;
    
}

.button_dashbord{
    width: 5.5vw !important;
    background-color: #705EDC !important;
    
}

.button_list button{
    border-radius: 10px;
    border-style: none;
    width: 3.5vw;
    height: 4vh;
    background-color: #0F1126;
    color: #f5f5f5;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75vw;
    cursor: pointer;
}

#margin_button{
    margin: 0 1vw;
}

.none{
    width: 16vw;
}

.container_list_conteudo{
    display: flex;
    flex-direction: column;
    height: 58vh;
    /* overflow-y: auto; */
}

.container_list_conteudo .aviso {
    display: block;
    position: relative;
    width: 1.8em;
}

.container_list_conteudo .aviso img {
    display: block;
}

.container_list_conteudo::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
.container_list_conteudo::-webkit-scrollbar {
    width: 0.4vw;
    background: #F4F4F4;
}
.container_list_conteudo::-webkit-scrollbar-thumb {
    background: #dad7d7;
}

.button_cadastrar{
    display: flex;
    justify-content: end;
}

.button_cadastrar button{
    background-color: #0F1126;
    width: 15vw;
    height: 4.5vh;
    border-style: none;
    border-radius: 10px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1vw;
    cursor: pointer;
}

.margin_left_button{
    margin-left: 3vw;
}


.modal {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
}

.modal-content {
    margin: 0 auto;
    margin-top: 3%;
    max-width: 600px;
    background-color: #eee;
    padding: 0;
    box-shadow: 0 0 2px #fff;
}


.modal-header, .modal-body, .modal-footer{
    padding: 10px;
}

.modal-header{
    padding: 0 0.5vw !important;
    border-bottom: none !important;

}

.modal-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 30vh;
    justify-content: space-evenly;
}

.modal-body h2{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.6em !important;
}

.modal-body p{
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1em !important;   
}

.modal-body img{
    width: 5vw;
}

.modal-footer{
    border-top: none !important;
    justify-content: space-evenly !important;
}

.modal-footer button{
    background-color: #705EDC;
    color: #fff;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.2em !important;
    border-style: none;
    border-radius: 10px;
    width: 6vw;
    height: 4vh;
    cursor: pointer;
    
}

.container_conteudo p{
    margin: 0 !important;
}