@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
}
main{
    width: 100%;
}

.container{
    width: 96%;
}

.topo{
    display: flex;
    justify-content: space-between;
    padding-top: 3vh;
    padding-left: 20vh;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
    font-size:32px;
}

.container .sino-notificacao{
    display: flex;
    justify-content: flex-end;
    padding: 1vh 0;
}

.container .sino-imagem{
    position: fixed;
}

.container .kpis{
    display: flex;
    justify-content: space-between;
    padding:4vh 18vw 2vh 18vw;
    width: 100%;
}

.kpi-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 15vw;
    height: 22vh;
    border-radius: 25px;
}

.saudavel{
    background-color: #8FC7FA;
}

.critico{
    background-color: #F38080;
}

.titulo-kpi{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 3vh;
}

.qtdMaquina{
    font-size: 65px;
}

.containerGrafico{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top:2vh;
    height: 56vh;
}

.fundoGrafico{
    max-width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9D9D9;
    padding: 2vh 2vw;
    border-radius: 25px;
    height: 100%;
}

.grafico{
    max-width: 60vw;
    border-radius: 25px;
    padding: 0 15vw;
    background-color: #F5F5F5;
}

.container-titulo-legenda{
    display: flex;
}

.container-legenda{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-legenda{
    margin-left: 2vh;
    cursor: pointer;
}

.titulo-grafico{
    font-size: 24px;
    margin-bottom: 2vh;
}

.tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: #0F1126;
    font-size: 1.8vh;
    color: #fff;
    border-radius: 6px;
    padding: 10px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -5px;
    left: 120%;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 12%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

.grafico #myChart{
    height: 44vh !important;
}


