@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
}

main{
    width: 100%;
    background: rgb(27,31,153);
    background: linear-gradient(180deg, rgba(27,31,153,1) 12%, rgba(79,77,167,1) 62%, rgba(112,94,220,1) 95%);
}

/*Inicio do Header*/

header{
    width: 100%;
    padding: 0.8522727272727273vh 0;
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    position:fixed;
}

.container{
    width: 90%;
    margin: 0 auto;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemContainer{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}

.item{
    display: flex;
    align-items: center;
    color: #181818;
}

.btn-item{
    display: flex;
    align-items: center;
    color: #F5F5F5;
}

.item:hover{
    border-bottom: 0.7102272727272727vh solid #705EDC;
    border-radius: 2px;
}

.btn-container{
    display: flex;
    width: 20%;
    justify-content: space-evenly;
}

.btn-nav{
    color: #F5F5F5;
    background-color: #0F1126;
    border-radius:4.201680672268908vh;
    padding: 1.1204481792717087vh 2.5210084033613445vh;
}

.btn-nav:hover{
   background-color: #705EDC;
}

/*Fim do Header*/

/*Inicio hero*/

.hero{
    /* position: relative; */
    background-image: url(../img/grupão.png);
    padding: 40vh 0;
    width: 100%;
    background-size: cover;
}

.hero-esquerda{
    width: 40%;
    display: flex;
    flex-direction: column;
}

.text-hero{
    width: 70%;
    color: #F5F5F5 ;
    font-size: 20px ;
}

.titulo-hero{
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
    font-size: 90px;
    font-weight: bold;
}

.p-hero{
    color: #F5F5F5;
    font-size: 15px;
}

.btn-hero{
    color: #F5F5F5;
    background-color: #705EDC;
    border-radius:4.201680672268908vh;
    padding: 1.1204481792717087vh 2.5210084033613445vh;
    margin-top: 15px;
}

.btn-hero:hover{
   background-color: #F5F5F5;
   color: #705EDC;
}

/*Inicio dos Serviços*/

.servicos{
    display: flex;
    flex-direction: column;
    background-color: #161A86;
}

.titulo-servicos{
    display: flex;
    justify-content: center;
    background-color: #F5F5F5;
    padding: 3vh;
    border-bottom: 0.7102272727272727vh solid #F5F5F5;
    border-radius: 0 0 30px 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.subTitulo-servicos{
    display: flex;
    text-align: center;
    justify-content: center;
    padding:2vh;
    font-family: 'Montserrat', sans-serif;
}

.bold{
    font-weight: bold;
}

.texto-subtitulo{
    color: #F5F5F5;
    font-size: 30px;
    font-weight: 600;
}

.imagens-servicos{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10vh 0;
}

.icon-servicos{
    width: 40%;
    justify-content: center;
}

.text-servicos{
    color: #F5F5F5;
    width: 40%;
    margin: 2vh auto 0 auto;
}

.conteudo-servicos{
    padding: 5vh 0;
}

.fim-servicos{
    background-color: #F5F5F5;
    padding: 3vh;
    border-bottom: 0.7102272727272727vh solid #F5F5F5;
    border-radius: 30px 30px 0 0;
}



/*Inicio quem somos*/

.quemSomos{
    background-color: #E4DFFC;
    padding: 20vh 0;
    width: 100%;
}

.imgCentro{
    width: 50%;
}

.somos-esquerda{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.somos-direita{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.quemSomos .container{
    display: flex;
    justify-content: space-between;
}

.text-esquerda{
    text-align:end;
    width: 60%;
}

.text-esquerda-beaver{
    text-align:start;
    width: 60%;
}

.text-direita{
    text-align:start;
    width: 50%;
}

.text-somos{
    font-size: 21px;
}

.text-somos-beaver{
    font-family: 'Montserrat', sans-serif;
    font-size: 69px;
    font-weight:bold;
}
/*Inicio Contato*/

.contato{
    width: 100%;
    background: rgb(27,31,153);
    background: linear-gradient(180deg, rgba(27,31,153,1) 12%, rgba(79,77,167,1) 62%, rgba(112,94,220,1) 95%);
    padding: 10vh 0;
}

.contato .container{
    display: flex;
    justify-content: space-evenly;
}

.esquerda-contato{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F5F5F5;
    width: 40%;
    text-align: start;
}

.titulo-contato{
    font-size: 30px;
    font-weight: medium;
}

.subTitulo-contato{
    font-size: 90px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.formulario-contato{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
    border-radius: 3vh;
}

.nome-sobrenome-contato{
    display: flex;
}

.campos-forms{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2vh;
}

.inpt-form{
    background-color: #DAD5FC;
    border-radius:7px;
    padding: 1vh;
}

.label-form{
    color: #141414;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-bottom: 1vh;
}

.btn-forms{
    display: flex;
    justify-content: center;
    padding: 2vh;
}

.text-area-form{
    background-color: #DAD5FC;
    border-radius:7px;
    padding: 1vh;
    resize: none;
}

.btn-contato{
    color: #F5F5F5;
    background-color: #141414;
    padding: 1.5vh 8vh;
    border-radius:4.201680672268908vh;
}

.btn-contato:hover{
    background-color: #705EDC;
}

/*inicio footer*/

footer{
    background-color:#F5F5F5;
    padding: 5vh;
}

footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-footer{
    font-weight: 400;
    margin-bottom: 15px;
}

.icon-footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.icon-social{
    width: 15%;
    padding: 0 5px;
}

/*Scroll Nav Bar*/

.sticky {
    -webkit-transition: 0.3s;
    transition: 1s;
    z-index: 2; 
    width: 100%;
    position: fixed;
    box-shadow: 0 8px 32px 0 #705EDC;
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
}

/*Scroll bar*/

/* Scroll bar*/
/* ::-webkit-scrollbar{
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb{
    background-color: #705EDC;
    border-radius: 2vh;
} */
