@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: flex;
}

.direita {
    background-image: url("../img/Banner\ Login.png");
    background-size: cover;
    height: 100vh;
    width: 45vw;
}

.esquerda {
    height: 100vh;
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
font-family: 'Montserrat', sans-serif;
font-size: 40px;
font-weight: 800;
}

label{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 400; 
    color: #141414;
}

.containerInput {
    display: flex;
    flex-direction: column;
    width: 38vw;
}
.containerInput input {
    margin-top: 1vh;
    margin-bottom: 4vh;
    border-style: none;
    border-radius: 10px;
    padding: 1vh 1vw;
    background-color: #E5E5E5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container {
    height: 72vh;
    width: 38vw;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.voltarHome{
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    width: 39vw;

}

.voltarHome img{
    height: 3.5vh;
    cursor: pointer;
}

.voltarHome a{
    text-decoration: none;
    color: #161A86;
    font-weight: 500;
    font-size: 20px;
}

button {
    padding: 1vh 2vw;
    border-radius: 10px;
    border-style: none;
    background-color: #0F1126;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;

}

.containerCadastrar{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500; 
    display: flex;
    flex-direction: column;
}

.containerCadastrar a {
    color: #705EDC;
}