nav {
    width: 100%;
    height: 9vh;
    display: none !important;
    /* justify-content: space-around; */
    align-items: center;
}

nav .logo,
nav .menu {
    width: 45%;
    height: 9vh;
    display: flex !important;
    justify-content: center;
    align-items: center;
}

nav .menu {
    justify-content: flex-end;
}

nav .menu span {
    font-size: 5vw;
    cursor: pointer;
}

nav .navEscondida {
    width: 100%;
    height: 100vh;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: -120vh;
    background-color: #f5f5f5;
    transition: all 800ms;
}

nav .navEscondida .fechar {
    width: 90%;
    height: 10vh;
    display: flex !important;
    justify-content: flex-start;
    align-items: center;
}

nav .navEscondida .fechar span {
    font-size: 6vw;
    cursor: pointer;
}

nav .navEscondida .links {
    width: 80%;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

nav .navEscondida .fim {
    width: 90%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

nav .navEscondida .fim section {
    margin: 1vh 0;
}

@media (max-width: 600px) {  

    .containerImgRes img{
        width: 100% !important;
    }

    header{
        display: none !important;
    }


    nav {
        display: flex !important;
    }

    /*Nav-bar*/
    .nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav .navEscondida .links .item{
        font-size: 3vh;
    }

    nav .navEscondida .fim .btn-item{
        font-size: 3vh;
    }

    .img-logo {
        margin-bottom: 1vh;
    }

    .itemContainer {
        margin-bottom: 3vh;
    }

    .btn-container {
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 2.5vh;
        gap: 3vh;
        margin-bottom: 1vh;
    }

    .btn-nav-entrar {
        padding: 1.1204481792717087vh 5vh;
    }

    /*inicio*/

    .hero{
        padding: 8vh;
        width: 100%;
        background-size: cover;
    }

    .container-conteudo-hero {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-left: 2vh;
        padding-bottom: 6vh;
        padding-top: 0vh;
    }

    .container-conteudo-hero .btn-item {
        display: none;
    }

    .hero-esquerda {
        width: 100%;
        margin-right: 0vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .text-hero {
        margin-top: 2vh;
        font-size: 2.5vh;
        font-weight: 400;
        letter-spacing: 0.15em;
    }

    .titulo-hero {
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        font-weight: bold;
        padding: 2vh 0;
    }

    .text-hero2 {
        font-size: 3vh;
        margin-top: 1vh;
        width: 100%;
        padding: 0 10vh 3vh 10vh;
    }

    .img-chamativo {
        border: 1.3vh solid #F5F5F5;
        border-radius: 20px;
        max-width: 100%;
    }

    .hero-img-chamativo {
        width: 100%;
        margin-top: 3vh;
    }


    /*serviços*/
    .titulo-servicos {
        text-align: center;
    }

    .text-titulo-servico{
        font-size: 2.3vh;
        margin: 0 8vh;
    }

    .subTitulo-servicos {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 2vh;
        font-family: 'Montserrat', sans-serif;
    }

    .texto-subtitulo{
        color: #F5F5F5;
        font-size: 3.2vh;
        font-weight: 500;
        padding: 0 3vh;
    }

    .imagens-servicos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0vh;
        margin-left: 5vh;


    }
    
    .icon-servicos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;
        margin-right: 10vh;
    }

    .icon3{
        margin: 2vh ;
    }
    
    .icon-servicos img{
        max-width: 50%;
        margin-top: 5vh;
    }
    
    .text-servicos{
        color: #F5F5F5;
        width: 60%;
        margin: 0 20%;
        text-align: center;
        font-size: 3vh;
        margin-top: 2vh;
    }

    .conteudo-servicos{
        padding: 5vh 0;
    }


    /*quem somos*/
    .quemSomos .container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .quemSomos .container .somos-esquerda {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quemSomos .container .somos-esquerda .text-esquerda,
    .quemSomos .container .somos-esquerda .text-esquerda-beaver {
        width: 100%;
        text-align: center;
        line-height: 3.5vh;
        margin: 3vh 0;

    }

    .quemSomos .container .somos-esquerda .text-esquerda-beaver b{
        font-size: 6vh;
    }

    .quemSomos .container .imgCentro{
        width: 80%;
        margin: 3vh 0;
    }

    .quemSomos .container .somos-direita,
    .quemSomos .container .somos-direita .text-direita {
        width: 90%;
        text-align: center;
        line-height: 3.5vh;
    }

    .quemSomos .container .somos-direita .text-direita p{
        margin-bottom: 3vh;
    }


    /*contato*/
    .contato .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .esquerda-contato{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: start;
    }

    .titulo-contato{
        text-align: center;
        font-size: 2.5vh;
        font-weight: 400;
        letter-spacing: 0.15em;
    }
    
    .subTitulo-contato{
        font-size: 5vh;
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }

    .formulario-contato{
        width: 100%;
        padding: 10% 0;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2vh;
        border-radius: 3vh;
    }
    
    .nome-sobrenome-contato{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    

    .label-form{
        font-weight: 600;
        font-size: 3vh;
        margin-bottom: 1vh;
    }
    
    .btn-forms{
        display: flex;
        justify-content: center;
        padding: 2vh;
    }
    
    .btn-contato:hover{
        background-color: #705EDC;
    }


    /*footer*/
    footer{
        padding: 5vh;
    }
    
    footer .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .texto-footer{
        font-weight: 400;
        text-align: center;
        font-size: 2.5vh;
        margin-bottom: 15px;
        padding-top: 3vh;
    }
    
    .icons-footer{
        padding-left: 5vh;
    }
    
    .icon-social{
        width: 18%;
        padding-top: 1vh;
    }
    
}

/* -------------------------------------------------------------------------------- */

@media (max-width: 768px){

    .containerImgRes img{
        width: 100% !important;
    }

    header{
        display: none !important;
    }


    nav {
        display: flex !important;
    }

    /*Nav-bar*/
    .nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav .navEscondida .links .item{
        font-size: 3vh;
    }

    nav .navEscondida .fim .btn-item{
        font-size: 3vh;
    }

    nav .navEscondida .fim{
        flex-direction: row;
        gap: 3vh;
    }

    .img-logo {
        margin-bottom: 1vh;
    }

    .itemContainer {
        margin-bottom: 3vh;
    }

    .btn-container {
        display: flex;
        width: 100%;
        justify-content: center;
        font-size: 2.5vh;
        gap: 3vh;
        margin-bottom: 1vh;
    }

    .btn-nav-entrar {
        padding: 1.1204481792717087vh 5vh;
    }

    /*inicio*/
    .hero{
        padding: 8vh;
        width: 100%;
        background-size: cover;
    }

    .container-conteudo-hero {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        padding-left: 2vh;
        padding-bottom: 6vh;
        padding-top: 0vh;
    }

    .container-conteudo-hero .btn-item {
        display: none;
    }

    .hero-esquerda {
        width: 100%;
        margin-right: 0vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .text-hero {
        margin-top: 2vh;
        font-size: 2.5vh;
        font-weight: 400;
        letter-spacing: 0.15em;
    }

    .titulo-hero {
        font-family: 'Montserrat', sans-serif;
        font-size: 80px;
        font-weight: bold;
        padding: 2vh 0;
    }

    .text-hero2 {
        font-size: 3.5vh;
        margin-top: 1vh;
        width: 100%;
        padding: 0 10vh 3vh 10vh;
    }

    .img-chamativo {
        border: 1.5vh solid #F5F5F5;
        border-radius: 20px;
        max-width: 100%;
    }

    .hero-img-chamativo {
        width: 100%;
        margin-top: 3vh;
    }


    /*serviços*/
    .titulo-servicos {
        text-align: center;
    }

    .text-titulo-servico{
        font-size: 2.3vh;
        margin: 0 8vh;
    }

    .subTitulo-servicos {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 2vh;
        font-family: 'Montserrat', sans-serif;
    }

    .texto-subtitulo{
        color: #F5F5F5;
        font-size: 3.2vh;
        font-weight: 500;
        padding: 0 3vh;
    }

    .imagens-servicos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0vh;
        margin-left: 5vh;


    }
    
    .icon-servicos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;
        margin-right: 10vh;
    }

    .icon3{
        margin: 2vh ;
    }
    
    .icon-servicos img{
        max-width: 50%;
        margin-top: 7vh;
    }
    
    .text-servicos{
        color: #F5F5F5;
        width: 60%;
        margin: 0 20%;
        text-align: center;
        font-size: 3vh;
        margin-top: 2vh;
    }

    .conteudo-servicos{
        padding: 5vh 0;
    }


    /*quem somos*/
    .quemSomos .container{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .quemSomos .container .somos-esquerda {
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .quemSomos .container .somos-esquerda .text-esquerda,
    .quemSomos .container .somos-esquerda .text-esquerda-beaver {
        width: 100%;
        text-align: center;
        line-height: 3.5vh;
        margin: 3vh 0;

    }

    .quemSomos .container .somos-esquerda .text-esquerda-beaver b{
        font-size: 6vh;
    }

    .quemSomos .container .imgCentro{
        width: 80%;
        margin: 3vh 0;
    }

    .quemSomos .container .somos-direita,
    .quemSomos .container .somos-direita .text-direita {
        width: 90%;
        text-align: center;
        line-height: 3.5vh;
    }

    .quemSomos .container .somos-direita .text-direita p{
        margin-bottom: 3vh;
    }


    /*contato*/
    .contato .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .esquerda-contato{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: start;
    }

    .titulo-contato{
        text-align: center;
        font-size: 2.5vh;
        font-weight: 400;
        letter-spacing: 0.15em;
    }
    
    .subTitulo-contato{
        font-size: 5.5vh;
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }

    .formulario-contato{
        width: 100%;
        padding: 10% 0;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2vh;
        border-radius: 3vh;
    }
    
    .nome-sobrenome-contato{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    

    .label-form{
        font-weight: 600;
        font-size: 2.5vh;
        margin-bottom: 1vh;
    }
    
    .btn-forms{
        display: flex;
        justify-content: center;
        font-size: 3vh;
        padding: 2vh;
    }
    
    .btn-contato:hover{
        background-color: #705EDC;
    }


    /*footer*/
    footer{
        padding: 5vh;
    }
    
    footer .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    .texto-footer{
        font-weight: 400;
        text-align: center;
        font-size: 2.5vh;
        margin-bottom: 15px;
        padding-top: 3vh;
    }
    
    .icons-footer{
        padding-left: 5vh;
    }
    
    .icon-social{
        width: 18%;
        padding-top: 1vh;
    }
}

/* -------------------------------------------------------------------------------- */

@media (min-width: 768px) {  
    header{
        width: 100%;
        padding: 4vh 0;
        display: flex;
        justify-content: center;
        background-color: #F5F5F5;
        position:fixed;
        padding-top: 4vh;
    }
    
    /*nav-bar*/
    nav{
        display: none;
        width: 100%;
    }

    .img-logo{
        width: 20%;
    }

    .img-img-logo{
        width: 100%;
    }

    .itemContainer{
        width: 50%;
        margin: 0 5%;
    }

    .itemContainer .item{
        font-size: 3vh;
    }

    .btn-container{
        display: flex;
        flex-direction: column;
        width: 20%;
        font-weight: 500;
        font-size: 2vh;
        gap: 1vh;
    }

    .btn-nav-entrar{
        padding: 1.1204481792717087vh 5vh;
    }

    /*inicio*/
    .hero{
        padding: 4vh;
        padding-top: 25vh;
        width: 100%;
        background-size: cover;
    }

    .container-conteudo-hero {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        padding-left: 2vh;
        padding-bottom: 6vh;
        padding-top: 0vh;
        gap: 5vh;
    }

    .container-conteudo-hero .btn-item {
        display: none;
    }

    .hero-esquerda {
        width: 100%;
        margin-right: 0vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align:left;
    }

    .text-hero {
        margin-top: 2vh;
        font-size: 2vh;
        font-weight: 400;
        letter-spacing: 0.15em;
    }

    .titulo-hero {
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        font-weight: bold;
        padding: 2vh 0;
    }

    .text-hero2 {
        font-size: 3vh;
        margin-top: 1vh;
        width: 80%;
        padding: 0;
    }

    .img-chamativo {
        border: 1vh solid #F5F5F5;
        margin-left: 0vh;
        border-radius: 20px;
        max-width: 100%;
    }

    .hero-img-chamativo {
        width: 100%;
        margin-top: 3vh;
    }

    /*serviços*/
    .titulo-servicos {
        text-align: center;
    }

    .text-titulo-servico{
        font-size: 2.3vh;
        margin: 0 8vh;
    }

    .subTitulo-servicos {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 2vh;
        font-family: 'Montserrat', sans-serif;
    }

    .texto-subtitulo{
        color: #F5F5F5;
        font-size: 3.2vh;
        font-weight: 500;
        padding: 0 3vh;
    }

    .imagens-servicos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0vh;
        margin-left: 5vh;


    }
    
    .icon-servicos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;
        margin-right: 10vh;
    }

    .icon3{
        margin: 2vh ;
    }
    
    .icon-servicos img{
        max-width: 50%;
        margin-top: 7vh;
    }
    
    .text-servicos{
        color: #F5F5F5;
        width: 60%;
        margin: 0 20%;
        text-align: center;
        font-size: 3vh;
        margin-top: 2vh;
    }

    .conteudo-servicos{
        padding: 5vh 0;
    }

    /*quem somos*/
    .quemSomos{
        padding: 10vh 0;
        width: 100%;
    }
    
    .imgCentro{
        width: 40%;
    }
    
    .somos-esquerda{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    }
    
    .somos-direita{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    }
    
    .quemSomos .container{
        display: flex;
        justify-content: space-between;
    }
    
    .text-esquerda{
        text-align:end;
        width: 80%;
    }
    
    .text-esquerda-beaver{
        text-align:start;
        width: 80%;
    }
    
    .text-direita{
        text-align:start;
        width: 80%;
    }
    
    .text-somos{
        font-size: 2.5vh;
    }
    
    .valores{
        padding-bottom: 3vh;
    }
    
    .text-somos-beaver{
        font-family: 'Montserrat', sans-serif;
        font-size: 4.5vh;
        font-weight:bold;
    }


    /*contato*/
    .contato .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;;
    }

    .esquerda-contato{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: start;
    }

    .titulo-contato{
        text-align: center;
        font-size: 2.5vh;
        font-weight: 400;
        letter-spacing: 0.15em;
    }
    
    .subTitulo-contato{
        font-size: 5.5vh;
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }

    .formulario-contato{
        width: 100%;
        padding: 10% 0;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2vh;
        border-radius: 3vh;
    }
    
    .nome-sobrenome-contato{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    

    .label-form{
        font-weight: 600;
        font-size: 2.5vh;
        margin-bottom: 1vh;
    }
    
    .btn-forms{
        display: flex;
        justify-content: center;
        font-size: 2.5vh;
        padding: 2vh;
    }
    
    .btn-contato:hover{
        background-color: #705EDC;
    }

    /*footer*/
    footer{
        background-color:#F5F5F5;
        padding: 2vh;
    }

    footer .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5vh;
    }
    
    .texto-footer{
        font-weight: 400;
        text-align: center;
        font-size: 2vh;
        margin-bottom: 15px;
        padding-top: 3vh;
    }
    
    .icons-footer{
        padding-left: 0vh;
    }
    
    .icon-social{
        width: 20%;
        padding-top: 0vh;
    }
}

/* -------------------------------------------------------------------------------- */

@media (min-width: 992px) {  
    header{
        width: 100%;
        padding: 4vh 0;
        display: flex;
        justify-content: center;
        background-color: #F5F5F5;
        position:fixed;
        padding-top: 4vh;
    }
    
    /*nav-bar*/
    nav{
        display: none;
        width: 100%;
    }

    .img-logo{
        width: 20%;
    }

    .img-img-logo{
        width: 100%;
    }

    .itemContainer{
        width: 40%;
        margin: 0 5%;
    }

    .itemContainer .item{
        font-size: 2.5vh;
    }

    .btn-container{
        display: flex;
        flex-direction: row;
        width: 30%;
        font-weight: 500;
        font-size: 2vh;
        gap: 2vh;
    }

    .btn-nav-entrar{
        padding: 1.1204481792717087vh 5vh;
    }

    /*inicio*/
    .hero{
        padding: 4vh;
        padding-top: 25vh;
        width: 100%;
        background-size: cover;
    }

    .container-conteudo-hero {
        display: flex;
        flex-direction: row;
        width: 100%;
        align-items: center;
        padding-left: 2vh;
        padding-bottom: 6vh;
        padding-top: 0vh;
        gap: 5vh;
    }

    .container-conteudo-hero .btn-item {
        display: flex;
    }

    .btn-hero{
        font-size: 2.5vh;
        margin-top: 6vh;
    }

    .hero-esquerda {
        width: 100%;
        margin-right: 0vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align:left;
    }

    .text-hero {
        margin-top: 2vh;
        font-size: 2vh;
        font-weight: 400;
        letter-spacing: 0.15em;
    }

    .titulo-hero {
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        font-weight: bold;
        padding: 2vh 0;
    }

    .text-hero2 {
        font-size: 3vh;
        margin-top: 1vh;
        width: 80%;
        padding: 0;
    }

    .img-chamativo {
        border: 1vh solid #F5F5F5;
        margin-left: 0vh;
        border-radius: 20px;
        max-width: 100%;
    }

    .hero-img-chamativo {
        width: 100%;
        margin-top: 3vh;
    }

    /*serviços*/
    .titulo-servicos {
        text-align: center;
    }

    .text-titulo-servico{
        font-size: 2.3vh;
        margin: 0 8vh;
    }

    .subTitulo-servicos {
        display: flex;
        text-align: center;
        justify-content: center;
        padding: 2vh;
        font-family: 'Montserrat', sans-serif;
    }

    .texto-subtitulo{
        color: #F5F5F5;
        font-size: 3.2vh;
        font-weight: 500;
        padding: 0 3vh;
    }

    .imagens-servicos{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0vh;
        margin-left: 5vh;


    }
    
    .icon-servicos{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2vh;
        margin-right: 10vh;
    }

    .icon3{
        margin: 2vh ;
    }
    
    .icon-servicos img{
        max-width: 50%;
        margin-top: 7vh;
    }
    
    .text-servicos{
        color: #F5F5F5;
        width: 60%;
        margin: 0 20%;
        text-align: center;
        font-size: 3vh;
        margin-top: 2vh;
    }

    .conteudo-servicos{
        padding: 5vh 0;
    }

    /*quem somos*/
    .quemSomos{
        padding: 10vh 0;
        width: 100%;
    }
    
    .imgCentro{
        width: 40%;
    }
    
    .somos-esquerda{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    }
    
    .somos-direita{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    }
    
    .quemSomos .container{
        display: flex;
        justify-content: space-between;
    }
    
    .text-esquerda{
        text-align:end;
        width: 80%;
    }
    
    .text-esquerda-beaver{
        text-align:start;
        width: 80%;
    }
    
    .text-direita{
        text-align:start;
        width: 80%;
    }
    
    .text-somos{
        font-size: 2.5vh;
    }
    
    .valores{
        padding-bottom: 3vh;
    }
    
    .text-somos-beaver{
        font-family: 'Montserrat', sans-serif;
        font-size: 4.5vh;
        font-weight:bold;
    }


    /*contato*/
    .contato .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 65%;;
    }

    .esquerda-contato{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        text-align: start;
    }

    .titulo-contato{
        text-align: center;
        font-size: 2.5vh;
        font-weight: 400;
        letter-spacing: 0.15em;
    }
    
    .subTitulo-contato{
        font-size: 5.5vh;
        text-align: center;
        margin-top: 2vh;
        margin-bottom: 5vh;
    }

    .formulario-contato{
        width: 100%;
        padding: 10% 0;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 2vh;
        border-radius: 3vh;
    }
    
    .nome-sobrenome-contato{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    

    .label-form{
        font-weight: 600;
        font-size: 2.5vh;
        margin-bottom: 1vh;
    }
    
    .btn-forms{
        display: flex;
        justify-content: center;
        font-size: 2.5vh;
        padding: 2vh;
    }
    
    .btn-contato:hover{
        background-color: #705EDC;
    }

    /*footer*/
    footer{
        background-color:#F5F5F5;
        padding: 2vh;
    }

    footer .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5vh;
    }
    
    .texto-footer{
        font-weight: 400;
        text-align: center;
        font-size: 2vh;
        margin-bottom: 15px;
        padding-top: 3vh;
    }
    
    .icons-footer{
        padding-left: 0vh;
    }
    
    .icon-social{
        width: 20%;
        padding-top: 0vh;
    }
}

/* -------------------------------------------------------------------------------- */

@media (min-width: 1200px){
    header{
        width: 100%;
        padding: 0.8522727272727273vh 0;
        display: flex;
        justify-content: center;
        background-color: #F5F5F5;
        position:fixed;
        padding-top: 1vh;
    }
    
    .container{
        width: 90%;
        margin: 0 auto;
    }
    
    .nav{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .itemContainer{
        display: flex;
        width: 70%;
        justify-content: space-evenly;
    }
    
    .item{
        display: flex;
        align-items: center;
        color: #181818;
        font-weight: 400;
    }
    
    .btn-item{
        display: flex;
        align-items: center;
        color: #F5F5F5;
    }
    
    .item:hover{
        border-bottom: 0.7102272727272727vh solid #705EDC;
        border-radius: 2px;
    }
    
    .btn-container{
        display: flex;
        width: 30%;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 2.5vh;
        gap: 2vh;
    }
    
    .btn-nav-entrar{
        color: #F5F5F5;
        background-color: #0F1126;;
        border-radius:4.201680672268908vh;
        padding: 1.1204481792717087vh 2.5210084033613445vh;
    }
    
    .btn-nav-criar-conta{
        color: #F5F5F5;
        background-color: #705EDC;;
        border-radius:4.201680672268908vh;
        padding: 1.1204481792717087vh 2.5210084033613445vh;
    }
    
    .btn-nav-entrar:hover{
       background-color: #705EDC;
    }
    
    .btn-nav-criar-conta:hover{
        background-color: #0F1126;
     }
    
    /*Fim do Header*/
    
    /*Inicio hero*/
    
    .hero{
        /* position: relative; */
        background-image: url(../img/backgroundInicioSimples.png);
        padding: 20vh 0 1vh 0;
        width: 100%;
        background-size: cover;
    }
    
    .img-chamativo{
        border: 1.8vh solid #F5F5F5;
        border-radius: 20px;
        max-width: 100%;
    }
    
    .container-conteudo-hero{
        display: flex;
        width: 100%;
        align-items: center;
        padding-left: 2vh;
        padding-bottom: 5vh;
    }
    
    .hero-esquerda{
        width: 50%;
        margin-right: 3vh;
        display: flex;
        flex-direction: column;
    }
    
    .hero-img-chamativo{
        width: 50%;
    }
    
    .text-hero{
        color: #F5F5F5 ;
        font-size: 3vh ;
        font-weight: 400;
        letter-spacing: 0.15em;
    }
    
    .titulo-hero{
        font-family: 'Montserrat', sans-serif;
        color: #F5F5F5;
        font-size: 90px;
        font-weight: bold;
        padding: 2vh 0;
    }
    
    .text-hero2{
        color: #F5F5F5 ;
        font-size: 4vh;
        margin-top: 3vh;
        width: 70%;
    }
    
    .p-hero{
        color: #F5F5F5;
        font-size: 15px;
    }
    
    .btn-hero{
        color: #F5F5F5;
        background-color: #705EDC;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 3vh;
        border-radius:4.2vh;
        padding: 1.5vh 6vh;
        margin-top: 8vh;
    }
    
    .btn-hero:hover{
        background-color: #0F1126;
    }
    
    /* .img-engrenagem{
        display: flex;
        justify-content: right;
    } */
    
    /*Inicio dos Serviços*/
    
    .servicos{
        display: flex;
        flex-direction: column;
        background-color: #161A86;
    }
    
    .titulo-servicos{
        display: flex;
        justify-content: center;
        background-color: #F5F5F5;
        padding: 4vh 3vh;
        border-bottom: 0.7102272727272727vh solid #F5F5F5;
        border-radius: 0 0 30px 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
    }
    
    .subTitulo-servicos{
        display: flex;
        text-align: center;
        justify-content: center;
        padding:2vh;
        font-family: 'Montserrat', sans-serif;
    }
    
    .bold{
        font-weight: bold;
    }
    
    .texto-subtitulo{
        color: #F5F5F5;
        font-size: 4vh;
        font-weight: 500;
        padding: 0 15vh;
    }
    
    .imagens-servicos{
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding: 10vh 0;
        width: 100%;
    }
    
    .icon-servicos{
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    
    .icon-servicos img{
        max-width: 100%;
    }
    
    .text-servicos{
        color: #F5F5F5;
        width: 60%;
        margin: 3vh auto 0 auto;
        text-align: center;
    }
    
    .conteudo-servicos{
        padding: 5vh 0;
    }
    
    
    
    /*Inicio quem somos*/
    
    .quemSomos{
        background-color: #E4DFFC;
        background-size: cover;
        padding: 20vh 0;
        width: 100%;
    }
    
    .imgCentro{
        width: 40%;
    }
    
    .somos-esquerda{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    }
    
    .somos-direita{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30%;
    }
    
    .quemSomos .container{
        display: flex;
        justify-content: space-between;
    }
    
    .text-esquerda{
        text-align:end;
        width: 60%;
    }
    
    .text-esquerda-beaver{
        text-align:start;
        width: 60%;
    }
    
    .text-direita{
        text-align:start;
        width: 50%;
    }
    
    .text-somos{
        font-size: 3vh;
    }
    
    .valores{
        padding-bottom: 3vh;
    }
    
    .text-somos-beaver{
        font-family: 'Montserrat', sans-serif;
        font-size: 69px;
        font-weight:bold;
    }

   /*Inicio Contato*/    
    .contato{
        width: 100%;
        background: rgb(27,31,153);
        background: linear-gradient(180deg, rgba(27,31,153,1) 12%, rgba(79,77,167,1) 62%, rgba(112,94,220,1) 95%);
        padding: 10vh 0;
    }
    
    .contato .container{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
    
    .esquerda-contato{
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #F5F5F5;
        width: 40%;
        text-align: start;
    }
    
    .titulo-contato{
        color: #F5F5F5 ;
        text-align: start;
        font-size: 3vh ;
        font-weight: 400;
        letter-spacing: 0.15em;
    }
    
    .subTitulo-contato{
        font-size: 70px;
        margin-top: 2vh;
        text-align: start;
        width: 80%;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
    }
    
    .formulario-contato{
        width: 40%;
        padding: 10% 0;
        background-color: #FFFFFF;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 2vh;
        border-radius: 3vh;
    }
    
    .nome-sobrenome-contato{
        display: flex;
        width: 100%;
    }
    
    .campos-forms{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 2vh;
    }
    
    .inpt-form{
        background-color: #DAD5FC;
        border-radius:7px;
        padding: 1vh;
    }
    
    input:focus{
        outline: 0;
    }
    
    .label-form{
        color: #141414;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        margin-bottom: 1vh;
    }
    
    .btn-forms{
        display: flex;
        justify-content: center;
        padding: 2vh;
    }
    
    .text-area-form{
        background-color: #DAD5FC;
        border-radius:7px;
        padding: 1vh;
        resize: none;
    }
    
    .btn-contato{
        color: #F5F5F5;
        background-color: #141414;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        padding: 1.5vh 8vh;
        border-radius:4.201680672268908vh;
    }
    
    .btn-contato:hover{
        background-color: #705EDC;
    }
    
    /*inicio footer*/
    
    footer{
        background-color:#F5F5F5;
        padding: 5vh;
    }
    
    footer .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
    .texto-footer{
        font-weight: 400;
        margin-bottom: 15px;
        padding-top: 3vh;
    }
    
    .icon-footer{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .icon-social{
        width: 15%;
        padding: 0 5px;
    }
    
}